<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Loop of observable array -->
  <div *ngFor="let item$ of weather$">
    <!-- card component with weather from API -->
    <ion-card *ngIf="item$ | async; let weather" routerLink="/detail" (click)="openDetail(weather)">
      <!-- card show only if data (observable) downloaded from server | async in if -->
      <!-- let weather = data injected from if async state -->
      <ion-card-header>
        <ion-card-subtitle>Počasí pro</ion-card-subtitle>
        <!-- show data -->
        <ion-card-title>{{weather.name}}</ion-card-title>
      </ion-card-header>

      <!-- set to no-padding for consistent UI/UX -->
      <ion-card-content class="ion-no-padding">
        <img [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'">
        <!-- show data -->
        <ion-list>
          <ion-item>
            Name: {{weather.name}}
          </ion-item>
          <ion-item>
            ID: {{weather.id}}
          </ion-item>
          <ion-item lines="none">
            GEO: {{weather.coord.lon}}, {{weather.coord.lat}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
